<?xml version="1.0" encoding="utf-8"?>
	<!-- $Id: style.xml 16565 2010-04-28 12:21:27Z ian $ -->
<form>
	<fieldset name="widget">
		<field name="title" type="text" label="Title:" description="Menu Title" class="widefat" readonly="false"/>
		<field name="nav_menu" type="navmenulist" label="Menu:" description="The Wordpress menu to display" class="widefat" readonly="false"/>
        <field name="theme" type="list" default="crystalline_fusion" label="Menu Theme:" description="The theme to use for the menu" readonly="false">
            <option value="crystalline_fusion">Fusion</option>
            <option value="crystalline_splitmenu">SplitMenu</option>
        </field>
        <field name="limit_levels" type="list" label="Limit Levels:" description="Levels limit for the menu" readonly="false">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </field>
        <field name="startLevel" type="integer" label="Start Level:" description="The depth in the menu to start" first="0" last="20" step="1" readonly="false"/>
        <field name="endLevel" type="integer" label="End Level:" description="The depth in the menu to end" first="0" last="20" step="1" readonly="false"/>
        <field name="showAllChildren" type="list" label="Show All Children:" description="Show all children of all parents" readonly="false">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </field>
        <field name="show_empty_menu" type="list" label="Show Empty Menu:" description="Show the basic wrapping html for an empty menu" readonly="false">
            <option value="0">No</option>
            <option value="1">Yes</option>
        </field>
        <field name="maxdepth" type="integer" label="Maximum Depth:" description="The maximum depth to show" first="0" last="20" step="1" readonly="false"/>
	</fieldset>
</form>